/*****
Theme Name: MH Magazine lite
Theme URI: https://www.mhthemes.com/themes/mh/magazine-lite/
Description: MH Magazine lite is one of the most popular free responsive magazine, news, newspaper and blog WordPress themes for modern online magazines, dynamic news websites, professional blogs and other editorial websites. This free magazine theme is fast, secure, SEO friendly and perfectly suitable for topics like international news, politics, lifestyle, fashion, business, sports, gadgets, travel or anything else. If you would like to gain access to more awesome features, flexible custom widgets and useful options to customize your website, you can upgrade to the premium version of MH Magazine and take your website to the next level. You can also learn more about this dynamic magazine WordPress theme on the MH Themes website.
Author: MH Themes
Author URI: https://www.mhthemes.com/
Version: 2.7.2
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-logo, custom-menu, featured-images, full-width-template, theme-options, threaded-comments, footer-widgets, translation-ready, rtl-language-support, blog, entertainment, news
Text Domain: mh-magazine-lite
Domain Path: /languages/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Credits: You may remove the link in the footer, but we would appreciate any attribution to our work!
*****/

/***** CSS Reset based on the work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/ v2.0 *****/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/***** Structure *****/

html { font-size: 100%; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; }
body { font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 14px; font-size: 0.875rem; line-height: 1.6; background: #f7f7f7; word-wrap: break-word; }
.mh-container, .mh-container-inner { width: 100%; max-width: 1080px; margin: 0 auto; position: relative; }
.mh-container-outer { margin: 25px auto; -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17); -moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17); box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17); }
.mh-wrapper { padding: 25px; background: #fff; }
.mh-content { width: 65.83%; overflow: hidden; }
.mh-sidebar { width: 31.66%; float: left; }
.mh-margin-left { margin-left: 2.5%; }
.mh-margin-right { margin-right: 2.5%; }
.mh-right-sb #main-content { float: left; margin-right: 2.5%; }
.mh-left-sb #main-content { float: right; margin-left: 2.5%; }
.mh-home-area-3, .mh-home-area-4 { width: 48.24%; }
.mh-home-area-4 { margin-left: 3.52%; }
.page-template-homepage .mh-wrapper { padding-bottom: 0; }

/***** Animation *****/

.mh-main-nav li, .mh-main-nav li-feedback, .entry-tags li, .tagcloud a { -webkit-transition: 0.25s ease-out; -moz-transition: 0.25s ease-out; transition: 0.25s ease-out; }

/***** Columns *****/

.mh-row [class*='mh-col-']:first-child { margin: 0; }
[class*='mh-col-'] { float: left; margin-left: 2.5%; overflow: hidden; }
.mh-col-1-1 { width: 100%; }
.mh-col-1-2 { width: 48.75%; }
.mh-col-1-3 { width: 31.66%; }
.mh-col-2-3 { width: 65.83%; }
.mh-col-1-4 { width: 23.12%; }
.mh-col-3-4 { width: 74.37%; }
.mh-col-1-5 { width: 18.00%; }
.mh-col-1-6 { width: 14.58%; }
.mh-col-1-7 { width: 12.14%; }
.mh-col-1-8 { width: 10.31%; }
.clear { clear: both; }
.clearfix, .mh-clearfix { display: block; }
.clearfix:after, .mh-clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }

/***** Typography *****/

h1 { font-size: 32px; font-size: 2rem; }
h2 { font-size: 24px; font-size: 1.5rem; }
h3 { font-size: 20px; font-size: 1.25rem; }
h4 { font-size: 18px; font-size: 1.125rem; }
h5 { font-size: 16px; font-size: 1rem; }
h6 { font-size: 14px; font-size: 0.875rem; }
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #000; line-height: 1.3; font-weight: 700; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 6px; font-size: 0.375rem; }
big { font-size: 20px; font-size: 1.25rem; }
pre, code { font-family: "Consolas", Courier New, Courier, monospace; color: #000; margin-bottom: 20px; margin-bottom: 1.25rem; background: #f5f5f5; border: 1px solid #ebebeb; }
pre { padding: 20px; padding: 1.25rem; white-space: pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; white-space: -webkit-pre-wrap; }
kbd { padding: 0px 6px; padding: 0rem 0.375rem; background: #f5f5f5; border: 1px solid #aaa; border-radius: 0.1875em; -moz-border-radius: 0.1875em; -moz-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset; -webkit-border-radius: 0.1875em; -webkit-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset; box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset; text-shadow: 0 0.0625em 0 #fff; }
blockquote { display: block; font-size: 15px; font-size: 0.9375rem; line-height: 1.6; font-style: italic; color: #666; padding: 5px 0 5px 15px; border-left: 5px solid #0087A9; }
sup { vertical-align: super; font-size: 10px; font-size: 0.625rem; }
sub { vertical-align: sub; font-size: 10px; font-size: 0.625rem; }
abbr, acronym { border-bottom: 1px dashed; cursor: help; }
cite { color: #9a9b97; }
q { font-style: italic; }
address { font-family: "Courier new"; line-height: 1.5; margin-bottom: 20px; margin-bottom: 1.25rem; }
a { color: #000; text-decoration: none; }
a:hover { color: #0087A9; }

/***** Accessibility *****/

.screen-reader-text { position: absolute; top: -9999rem; left: -9999rem; }

/***** Lists *****/

.entry-content ul { list-style: square; }
.entry-content ol { list-style: decimal; }
.entry-content ul, .entry-content ol { margin: 0 0 20px 40px; }
.entry-content ul ul, .entry-content ol ol { margin: 0 0 0 40px; }
.entry-content li { margin-bottom: 5px; }
.entry-content li-feedback { margin-bottom: 5px; }
dl { margin: 0 0 10px 20px; }
dt, dd { display: list-item; }
dt { list-style-type: square; font-weight: bold; }
dd { list-style-type: circle; margin-left: 20px; }
select { max-width: 100%; }

/***** Header *****/

.mh-header { background: #fff; }
.mh-site-logo { padding: 20px; overflow: hidden; }
.mh-header-text { margin: 5px 0; text-transform: uppercase; }
.mh-header-title { font-size: 32px; font-size: 2rem; line-height: 1; }
.mh-header-tagline { display: inline-block; font-size: 14px; font-size: 0.875rem; line-height: 1; color: #0087A9; padding-top: 10px; margin-top: 10px; border-top: 1px solid #e5e5e5; }

/***** Navigation *****/

.mh-main-nav-wrap { background: #067694; }
.mh-main-nav { text-transform: uppercase; border-bottom: 5px solid #0087A9; }
.mh-main-nav li { float: left; position: relative; font-weight: 700; width: 16.65%}
.mh-main-nav li:hover { background: #0087A9; }
.mh-main-nav li:hover a { color: #fff; }
.mh-main-nav li a { display: block; color: #fff; padding: 10px 20px; border-left: 1px solid rgba(255, 255, 255, 0.1); }
.mh-main-nav li:first-child a, .mh-main-nav .sub-menu li a { border: none; }

.mh-main-nav li-feedback { float: left; position: relative; font-weight: 700; width: 25%}
.mh-main-nav li-feedback:hover { background: #0087A9; }
.mh-main-nav li-feedback:hover a { color: #fff; }
.mh-main-nav li-feedback a { display: block; color: #fff; padding: 10px 20px; border-left: 1px solid rgba(255, 255, 255, 0.1); }
.mh-main-nav li-feedback:first-child a, .mh-main-nav .sub-menu li-feedback a { border: none; }

.mh-main-nav ul li:hover > ul { display: block; background: #067694; z-index: 9999; }
.mh-main-nav ul li-feedback:hover > ul { display: block; background: #067694; z-index: 9999; }

.mh-main-nav ul ul { display: none; position: absolute; }
.mh-main-nav ul ul li { width: 100%; min-width: 16em; }
.mh-main-nav ul ul li-feedback { width: 100%; min-width: 16em; }

.mh-main-nav ul ul ul { left: 100%; top: 0; }
.mh-main-nav .menu > .current-menu-item { background: #0087A9; }
.mh-navigation .menu-item-has-children > a:after { font-family: 'FontAwesome'; font-weight: 400; line-height: 1; content: '\f107'; margin-left: 5px; }
.mh-navigation .sub-menu .menu-item-has-children > a:after { content: '\f105'; margin-left: 10px; }
.mh-navigation img { vertical-align: inherit; }

/***** SlickNav Mobile Menu Core Style *****/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em; line-height: 1.125em; cursor: pointer; margin: 5px 5px 6px; text-decoration: none; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: #222; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em; }
.slicknav_menu { *zoom: 1; font-size: 16px; font-size: 1rem; box-sizing: border-box; background: #4c4c4c; padding: 5px; }
.slicknav_menu * { box-sizing: border-box; }
.slicknav_menu .slicknav_menutxt { display: block; line-height: 1.188em; float: left; color: #fff; font-weight: bold; text-shadow: 0 1px 3px #000; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0; }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; background-color: #fff; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_menu:before, .slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both; }
.slicknav_nav { clear: both; color: #fff; margin: 0; padding: 0; font-size: 0.875em; list-style: none; overflow: hidden; }
.slicknav_nav ul { display: block; list-style: none; overflow: hidden; padding: 0; margin: 0 0 0 20px; }
.slicknav_nav li { display: block; }
.slicknav_nav li-feedback { display: block; }
.slicknav_nav a { display: block; padding: 5px 10px; margin: 2px 5px; text-decoration: none; color: #fff; }
.slicknav_nav a:hover { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #ccc; color: #222; }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_item a { display: inline; padding: 0; margin: 0; }
.slicknav_nav .slicknav_row { display: block; padding: 5px 10px; margin: 2px 5px; }
.slicknav_nav .slicknav_row:hover { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #ccc; color: #fff; }
.slicknav_nav .slicknav_txtnode { margin-left: 15px; }
.slicknav_nav .slicknav_parent-link a { display: inline; padding: 0; margin: 0; }
.slicknav_brand { float: left; color: #fff; font-size: 18px; line-height: 30px; padding: 7px 12px; height: 44px; }

/***** SlickNav Custom Style *****/

.slicknav_btn { background: #0087A9; }
.slicknav_menu { padding: 0; border-bottom: 1px solid #067694; background: #0087A9; display: none; }
.slicknav_menu .slicknav_menutxt { text-shadow: none; display: none; }
.slicknav_menu .slicknav_icon-bar { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.slicknav_nav { font-size: 16px; font-size: 1rem; font-weight: 600; margin-bottom: 20px; }
.slicknav_nav ul { padding: 20px 0 0 15px; margin: 0; border-top: 1px solid #067694; }
.slicknav_nav ul ul { border: 0; padding: 0 0 0 15px; }
.slicknav_nav .slicknav_item:hover, .slicknav_nav a:hover { color: #fff; background: #0087A9; }
.mh-main-nav-wrap .slicknav_btn, .mh-main-nav-wrap .slicknav_menu, .mh-main-nav-wrap .slicknav_nav .slicknav_item:hover, .mh-main-nav-wrap .slicknav_nav a:hover { background: transparent; }
.mh-main-nav-wrap .slicknav_nav ul { border-top: 1px solid #0087A9; }
.mh-main-nav-wrap .slicknav_nav ul ul { border: none; }

/***** FlexSlider Browser Resets *****/

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none; }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }

/***** FlexSlider Base Styles *****/

.flexslider { margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flexslider .slides img { display: block; }
.flex-pauseplay span { text-transform: capitalize; }
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
.no-js .slides > li:first-child { display: block; }

/***** FlexSlider Default Styles *****/

.flexslider { position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.flexslider .slides img { height: auto; }
.flex-direction-nav { *height: 0; }
.flex-direction-nav a { width: 30px; height: 30px; margin: -12px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease; }
.flex-direction-nav .flex-next { background-position: 100% 0; right: -36px; display: none; }
.flex-direction-nav .flex-prev { left: -36px; display: none; }
.flex-direction-nav .flex-disabled { opacity: 0.3 !important; filter: alpha(opacity=30); cursor: default; }
.flexslider:hover .flex-next { opacity: 0.8; right: 5px; display: block; }
.flexslider:hover .flex-prev { opacity: 0.8; left: 5px; display: block; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-control-nav { width: 100%; position: absolute; bottom: 6px; text-align: center; }
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: #666; background: rgba(0, 0, 0, 0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0, 0, 0, 0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0, 0, 0, 0.9); cursor: default; }

/***** Posts/Pages *****/

.entry-header, .page-header { margin-bottom: 20px; margin-bottom: 1.25rem; }
.page-title { font-size: 28px; font-size: 1.75rem; }
.mh-meta { font-size: 13px; font-size: 0.8125rem; }
.mh-meta, .mh-meta a { color: #979797; }
.mh-meta a:hover { color: #0087A9; }
.mh-footer .mh-meta, .mh-footer .mh-meta a, .mh-footer .mh-meta a:hover { color: #fff; }
.mh-meta span { margin-right: 10px; }
.mh-meta .fa { margin-right: 5px; }
.entry-meta { margin-top: 10px; margin-top: 0.625rem; padding: 5px 10px; border-top: 1px dotted #ebebeb; border-bottom: 1px dotted #ebebeb; }
.entry-thumbnail { max-width: 1030px; margin-bottom: 20px; margin-bottom: 1.25rem; }
.entry-thumbnail img { width: 100%; }
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .entry-content p, .entry-content blockquote, .entry-content .flex-vid, .entry-content .mh-row, .entry-content .mh-video-container { margin-bottom: 20px; margin-bottom: 1.25rem; }
.entry-content blockquote p:last-child { margin: 0; }
.entry-content a { font-weight: 600; color: #0087A9; }
.entry-content a:hover { color: #0087A9; text-decoration: underline; }
.entry-tags { font-size: 12px; font-size: 0.75rem; color: #fff; line-height: 1; margin-bottom: 20px; margin-bottom: 1.25rem; }
.entry-tags li { float: left; font-weight: 700; margin: 0 6px 6px 0; margin: 0 0.375rem 0.375rem 0; background: #067694; text-transform: uppercase; }
.entry-tags li:hover { background: #0087A9; }
.entry-tags a, .entry-tags a:hover { display: block; color: #fff; padding: 10px 15px; }
.entry-tags .fa { float: left; padding: 10px; margin-right: 6px; background: #0087A9; }
.sticky { }

/***** Author Box *****/

.mh-author-box { line-height: 1.5; padding: 25px 0; margin-bottom: 25px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }
.mh-author-box-avatar { float: left; padding: 3px; margin-right: 25px; border: 1px solid #ebebeb; }
.mh-author-box-header { margin-bottom: 10px; }
.mh-author-box-name { font-size: 16px; font-size: 1rem; font-weight: 700; }
.mh-author-box-postcount:before { font-family: 'FontAwesome'; content: '\f105'; padding: 0 5px; }
.author .mh-author-box { margin-top: 25px; }

/***** Loop / Archives / Search Results *****/

.mh-loop-description { padding: 20px 0; margin-top: 20px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }
.mh-loop-description p:last-child { margin: 0; }
.mh-loop-item { padding-bottom: 20px; padding-bottom: 1.25rem; margin-bottom: 20px; margin-bottom: 1.25rem; border-bottom: 1px solid #ebebeb; }
.mh-loop-header { margin-bottom: 10px; margin-bottom: 0.625rem; }
.mh-loop-meta { margin-top: 5px; }
.mh-loop-excerpt { overflow: hidden; }
.mh-loop-thumb { float: left; margin-right: 20px; }
.mh-loop-thumb img { width: 100%; max-width: 235px; }
.mh-loop-pagination { margin-top: 20px; }

/***** Pagination *****/

.post .pagination { padding-bottom: 20px; padding-bottom: 1.25rem; }
.page-numbers { display: inline-block; font-weight: 700; color: #000; padding: 10px 15px; background: #f5f5f5; }
.page-numbers:hover, .mh-loop-pagination .current, .mh-comments-pagination .current, a:hover .pagelink { color: #fff; background: #0087A9; }
.page-numbers a { display: block; }
.pagelink { display: inline-block; font-weight: 700; color: #fff; padding: 10px 15px; background: #0087A9; }
a .pagelink { color: #000; background: #f5f5f5; }

/***** Post / Attachment Navigation *****/

.mh-post-nav { padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #ebebeb; }
.mh-post-nav span { display: block; font-weight: 700; line-height: 1; margin-bottom: 5px; text-transform: uppercase; overflow: hidden; }
.mh-post-nav p { font-size: 13px; font-size: 0.8125rem; overflow: hidden; }
.mh-post-nav-next { float: right; text-align: right; }
.mh-post-nav-prev img { float: left; margin-right: 15px; }
.mh-post-nav-next img { float: right; margin-left: 15px; }
.mh-post-nav-prev span:before, .mh-post-nav-next span:after { font-family: 'FontAwesome'; font-weight: 400; }
.mh-post-nav-prev span:before { content: '\f100'; margin-right: 5px; }
.mh-post-nav-next span:after { content: '\f101'; margin-left: 5px; }

/***** Footer *****/

.mh-footer { font-size: 13px; font-size: 0.8125rem; color: #fff; padding: 25px 25px 0; background: #2a2a2a; }
.mh-footer a, .mh-footer a:hover { color: #f7f7f7; }
.mh-copyright-wrap { padding: 10px 25px; border-top: 3px solid #999; background: #2a2a2a; }
.mh-copyright { font-size: 12px; font-size: 0.75rem; color: #999; }
.mh-copyright a { color: #999; }

/***** Images / Video *****/

img { max-width: 100%; width: auto\9; /* ie8 */ height: auto; vertical-align: bottom; }
iframe, embed, object, video { max-width: 100%; }
.entry-content .alignnone { display: block; margin: 20px 0; margin: 1.25rem 0; }
.entry-content .aligncenter { display: block; margin: 20px auto; margin: 1.25rem auto; }
.entry-content .alignleft { display: inline; float: left; margin: 5px 20px 20px 0; margin: 0.3125rem 1.25rem 1.25rem 0; }
.entry-content .alignright { display: inline; float: right; margin: 5px 0 20px 20px; margin: 0.3125rem 0 1.25rem 1.25rem; }
.wp-caption { max-width: 100%; }
.wp-caption-text { display: block; font-size: 12px; font-size: 0.75rem; font-weight: 700; line-height: 1.4; color: #000; margin-top: 5px; }
.mh-footer .wp-caption-text { color: #fff; }
.alignnone .wp-caption-text, .aligncenter .wp-caption-text, .alignleft .wp-caption-text, .alignright .wp-caption-text { margin-bottom: 0; }

/***** Gallery *****/

.gallery { margin-bottom: 20px; }
.gallery:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }
.gallery-item { float: left; margin: 0 4px 4px 0; overflow: hidden; position: relative; }
.gallery-columns-1 .gallery-item { max-width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 48%; max-width: -webkit-calc(50% - 4px); max-width: calc(50% - 4px); }
.gallery-columns-3 .gallery-item { max-width: 32%; max-width: -webkit-calc(33.3% - 4px); max-width: calc(33.3% - 4px); }
.gallery-columns-4 .gallery-item { max-width: 23%; max-width: -webkit-calc(25% - 4px); max-width: calc(25% - 4px); }
.gallery-columns-5 .gallery-item { max-width: 19%; max-width: -webkit-calc(20% - 4px); max-width: calc(20% - 4px); }
.gallery-columns-6 .gallery-item { max-width: 15%; max-width: -webkit-calc(16.7% - 4px); max-width: calc(16.7% - 4px); }
.gallery-columns-7 .gallery-item { max-width: 13%; max-width: -webkit-calc(14.28% - 4px); max-width: calc(14.28% - 4px); }
.gallery-columns-8 .gallery-item { max-width: 11%; max-width: -webkit-calc(12.5% - 4px); max-width: calc(12.5% - 4px); }
.gallery-columns-9 .gallery-item { max-width: 9%; max-width: -webkit-calc(11.1% - 4px); max-width: calc(11.1% - 4px); }
.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) { margin-right: 0; }
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1), .gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1), .gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1), .gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) { clear: left; }
.gallery-caption { background-color: rgba(0, 0, 0, 0.7); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #fff; font-size: 12px; line-height: 1.5; margin: 0; max-height: 50%; opacity: 0; padding: 6px 8px; position: absolute; bottom: 0; left: 0; text-align: left; width: 100%; }
.gallery-caption:before { content: ""; height: 100%; min-height: 49px; position: absolute; top: 0; left: 0; width: 100%; }
.gallery-item:hover .gallery-caption { opacity: 1; }
.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption { display: none; }

/***** Tables *****/

table { width: 100%; margin-bottom: 20px; margin-bottom: 1.25rem; border-left: 1px solid #ebebeb; border-top: 1px solid #ebebeb; }
td, th { padding: 5px 10px; border-right: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }
th { font-weight: 600; }
.mh-footer-widget table, .mh-footer-widget td, .mh-footer-widget th { border-color: rgba(255, 255, 255, 0.3); }

/***** Comments *****/

.mh-comment-list { margin-bottom: 25px; list-style: none; }
.mh-comment-list .children { margin-left: 25px; list-style: none; }
.mh-comment-body { margin-bottom: 25px; border-bottom: 1px solid #ebebeb; }
.mh-comment-footer { margin-bottom: 20px; }
.mh-comment-gravatar { float: left; }
.mh-comment-gravatar .avatar { width: 50px; height: 50px; padding: 2px; margin: 0 15px 0 0; border: 1px solid #f5f5f5; vertical-align: middle; }
.mh-comment-meta { overflow: hidden; }
.mh-comment-meta, .mh-comment-meta a { color: #067694; }
.mh-comment-meta-author { font-size: 16px; font-size: 1rem; font-weight: 700; }
.mh-comment-meta-author .fn { margin-right: 5px; }
.bypostauthor .mh-comment-meta-author:after { font-family: 'FontAwesome'; font-weight: 400; color: #0087A9; content: '\f006'; }
.mh-comment-meta-date { font-size: 10px; font-size: 0.625rem; text-transform: uppercase; }
.mh-comment-meta-links { font-weight: 700; line-height: 1; text-transform: uppercase; margin-bottom: 25px; }
.mh-comment-meta-links .comment-edit-link { margin-right: 15px; }
.mh-comment-meta-links .comment-reply-link:before { font-family: 'FontAwesome'; font-weight: 400; color: #0087A9; content: '\f112'; margin-right: 5px; }
.mh-comment-info { color: #0087A9; margin: 20px 0; }
.mh-comments-pagination { margin-bottom: 20px; }
.mh-ping-list { margin-bottom: 20px; }
.mh-ping-list .mh-ping-item { padding: 10px 0; border-bottom: 1px solid #ebebeb; }
.mh-ping-list .mh-ping-item:first-child { border-top: 1px solid #ebebeb; }
.mh-ping-list .mh-ping-item .fa { margin-right: 15px; }

/***** Comment Form *****/

#respond .comment-reply-title { font-size: 24px; font-size: 1.5rem; line-height: 1; margin-bottom: 20px; margin-bottom: 1.25rem; }
#respond #cancel-comment-reply-link { font-size: 12px; font-size: 0.75rem; margin-left: 10px; }
#respond #cancel-comment-reply-link:before { font-family: 'FontAwesome'; font-weight: 400; color: #0087A9; content: '\f05e'; margin-right: 5px; }
#commentform p { margin-bottom: 10px; }
#commentform .form-submit { margin: 25px 0; }
.required { color: #0087A9; }

/***** Forms *****/

input { font-size: 12px; padding: 5px; border: 1px solid rgba(0, 0, 0, 0.1); vertical-align: middle; background: #f5f5f5; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
input[type=text], input[type=email], input[type=tel], input[type=url] { width: 60%; }
input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, input[type=url]:hover, textarea:hover { border: 1px solid #0087A9; }
input[type=submit] { display: inline-block; min-width: 150px; font-weight: 700; color: #fff; padding: 10px 15px; background: #0087A9; cursor: pointer; text-transform: uppercase; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; transition: all 0.1s linear; border: 0; -webkit-appearance: none; }
input[type=submit]:hover { background: #067694; }
textarea { width: 96%; line-height: 1.5; padding: 5px; border: 1px solid rgba(0, 0, 0, 0.1); background: #f5f5f5; }

/***** Contact Form 7 *****/

.wpcf7-form { font-size: 14px; font-size: 0.875rem; margin-bottom: 20px; }
.wpcf7-form p { margin-bottom: 15px; }
.wpcf7-text { padding: 8px; }
.wpcf7-textarea { width: 86%; padding: 10px; }
div.wpcf7-response-output { margin: 20px 0 15px; }

/***** Searchform *****/

.search-form input { font-size: 11px; line-height: 1; color: #1f1e1e; text-transform: uppercase; }
.search-form .search-submit { display: none; }
.search-form .search-field { position: relative; padding: 10px; margin: 0; border: 1px solid #ebebeb; background: #fff; cursor: pointer; -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0; }
.search-form .search-field:active, .search-form .search-field:focus { cursor: text; }
.mh-widget .search-form { display: block; margin: 0 auto; padding: 5%; background: #f5f5f5; }
.mh-widget .search-form .search-field { display: block; margin: 0 auto; width: 90%; }
.mh-footer .search-form input { width: 100%; }

/***** Multisite Registration Form *****/

#signup-content { padding: 25px; background: #fff; }
#signup-content .mu_register { width: 100%; }
.mu_register .mu_alert { display: block; margin-bottom: 25px; }
.mu_register form { max-width: 500px; }
.mu_register input { box-sizing: border-box; }
.mu_register .submit { margin-top: 25px; }
.lead-in { margin-top: 25px; }
.lead-in a { font-weight: 700; }

/***** Shortcodes *****/

.ad-label { font-size: 10px; font-size: 0.625rem; }
.mh-box { position: relative; overflow: hidden; padding: 20px 20px 0; padding: 1.25rem 1.25rem 0; margin-bottom: 20px; margin-bottom: 1.25rem; border: 1px solid #ebebeb; }

/***** Widgets *****/

.mh-widget, .mh-footer-widget { margin-bottom: 25px; overflow: hidden; }
.mh-widget-title { position: relative; font-size: 16px; font-size: 1rem; padding-bottom: 5px; margin-bottom: 20px; margin-bottom: 1.25rem; text-transform: uppercase; border-bottom: 3px solid #0087A9; }
.mh-footer-widget-title { font-size: 14px; font-size: 0.875rem; color: #fff; }
.mh-footer-widget-title a { color: #fff; }

/***** Widgets Areas (Advertising) *****/

.mh-ad-spot, .mh-info-spot { display: block; padding: 10px; text-align: center; background: #f5f5f5; }
.mh-footer-widget .mh-ad-spot, .mh-footer-widget .mh-info-spot { background: rgba(255, 255, 255, 0.1); }

/***** MH Slider Widget *****/

.mh-slider-widget .flex-control-nav { bottom: 10px; }
.mh-slider-widget .flex-control-nav li { margin: 0 10px 0 0; }
.mh-slider-widget .flex-control-paging li a { width: 15px; height: 15px; border: 1px solid #067694; background: #fff; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
.mh-slider-widget .flex-control-paging li a:hover { background: #f5f5f5; }
.mh-slider-widget .flex-control-paging li a.flex-active { background: #0087A9; border: 1px solid #fff; }
.mh-widget-col-1 .mh-slider-widget .flex-control-nav { width: auto; top: 15px; right: 10px; bottom: auto; }
.mh-slider-item { position: relative; overflow: hidden; }
.mh-slider-normal { width: 678px; max-width: 100%; overflow: hidden; }
.mh-slider-caption { position: absolute; width: 350px; max-width: 100%; top: 0; right: 0; color: #fff; border-bottom: 3px solid #0087A9; background: #067694; background: rgba(42, 42, 42, 0.8); }
.mh-slider-caption .mh-excerpt-more, .mh-slider-title { color: #fff; }
.mh-slider-content { padding: 25px; overflow: hidden; }
.mh-slider-content .mh-excerpt { margin-top: 10px; margin-top: 0.625rem; }
.mh-widget-col-1 .mh-slider-caption { position: relative; width: 100%; margin: 0; background: #067694; }

/***** MH Custom Posts Widget *****/

.mh-custom-posts-item { padding: 20px 0; border-bottom: 1px dotted #ebebeb; }
.mh-custom-posts-item:first-child { padding-top: 0; }
.mh-custom-posts-thumb { float: left; margin-right: 15px; }
.mh-custom-posts-small-title { font-weight: 700; line-height: 1.3; margin-bottom: 5px; margin-bottom: 0.3125rem; }
.mh-custom-posts-small .mh-meta { font-size: 11px; font-size: 0.6875rem; }
.mh-custom-posts-header { overflow: hidden; }
.mh-footer-widget .mh-custom-posts-item { border-color: rgba(255, 255, 255, 0.3); }
.mh-footer-widget .mh-custom-posts-small-title { font-weight: 400; }

/***** MH Posts Large Widget *****/

.mh-posts-large-item { margin-top: 20px; padding-bottom: 20px; border-bottom: 1px dotted #ebebeb; }
.mh-posts-large-item:first-child { margin-top: 0; }
.mh-posts-large-thumb { position: relative; margin-bottom: 10px; }
.mh-posts-large-thumb img { width: 100%; }
.mh-posts-large-caption { position: absolute; top: 0; font-size: 13px; font-size: 0.8125rem; font-weight: 700; color: #fff; padding: 10px 15px; background: #0087A9; text-transform: uppercase; }
.mh-posts-large-title { font-size: 24px; font-size: 1.5rem; }
.mh-posts-large-excerpt { margin-top: 10px; }
.mh-widget-col-1 .mh-posts-large-title { font-size: 20px; font-size: 1.25rem; }
.mh-footer-widget .mh-posts-large-item { border-color: rgba(255, 255, 255, 0.3); }

/***** MH Posts Stacked Widget *****/

.mh-posts-stacked-wrap { float: left; width: 50%; overflow: hidden; }
.mh-posts-stacked-large, .mh-posts-stacked-small { position: relative; }
.mh-posts-stacked-large:after, .mh-posts-stacked-small:after { display: block; padding-top: 75%; content: ' '; }
.mh-posts-stacked-content { position: absolute; width: 100%; height: 100%; overflow: hidden; }
.mh-posts-stacked-thumb img { width: 100%; }
.mh-posts-stacked-thumb:hover .mh-posts-stacked-overlay { background: none; }
.mh-posts-stacked-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.2); }
.mh-posts-stacked-overlay-small { border-left: 1px solid #fff; }
.mh-posts-stacked-overlay-last { border-top: 1px solid #fff; }
.mh-posts-stacked-item { position: absolute; bottom: 25px; left: 25px; padding-right: 25px; }
.mh-posts-stacked-title { background: #067694; background: rgba(42, 42, 42, 0.8); }
.mh-posts-stacked-title-large { font-size: 24px; padding: 5px 10px; }
.mh-posts-stacked-title-small { font-size: 14px; padding: 2px 5px; }
.mh-posts-stacked-title a, .mh-posts-stacked-title a:hover, .mh-posts-stacked-meta a, .mh-posts-stacked-meta a:hover { color: #fff; }
.mh-posts-stacked-meta { display: inline-block; font-size: 10px; font-weight: 700; color: #fff; padding: 1px 5px; margin-top: 5px; background: #0087A9; text-transform: uppercase; }
.mh-posts-stacked-meta .fa, .mh-posts-stacked-meta .mh-meta-date { margin-right: 5px; }
.mh-widget-col-1 .mh-posts-stacked-wrap { float: none; width: 100%; }
.mh-widget-col-1 .mh-posts-stacked-title { font-size: 16px; padding: 2px 5px; }
.mh-widget-col-1 .mh-posts-stacked-overlay-small { border-top: 1px solid #fff; border-left: none; }
.mh-widget-col-2 .mh-posts-stacked-large, .mh-widget-col-2 .mh-posts-stacked-columns { float: none; width: 100%; }
.mh-widget-col-2 .mh-posts-stacked-overlay-small { border-top: 1px solid #fff; border-left: none; }
.mh-widget-col-2 .mh-posts-stacked-small:nth-child(odd) .mh-posts-stacked-overlay-small { border-right: 1px solid #fff; }
.mh-widget-col-2 .mh-posts-stacked-title-small { font-size: 16px; }
#mh-mobile .mh-footer-widget .mh-posts-stacked-overlay { border-color: #067694; }

/***** MH Posts Focus Widget *****/

.mh-posts-focus-full { width: 100%; }
.mh-posts-focus-full .mh-posts-focus-large { width: 65.83%; }
.mh-posts-focus-full .mh-posts-focus-small-inner { width: 31.66%; margin-left: 2.5%; }
.mh-posts-focus-inner { float: right; }
.mh-posts-focus-large { width: 65.67%; }
.mh-posts-focus-small-inner { width: 31.07%; margin-left: 3.26%; }
.mh-posts-focus-outer { margin-right: 2.5%; margin-left: 0; }
.mh-posts-focus-item { position: relative; }
.mh-posts-focus-thumb { margin-bottom: 10px; }
.mh-posts-focus-thumb img { width: 100%; }
.mh-posts-focus-title { font-size: 20px; font-size: 1.25rem; margin-bottom: 5px; }
.mh-posts-focus-excerpt { margin-top: 10px; overflow: hidden; }
.mh-posts-focus-item-small:first-child { margin-bottom: 20px; }
.mh-home-wide .mh-posts-focus-title-large { font-size: 24px; font-size: 1.5rem; }
.mh-home-wide .mh-posts-focus-title-small { font-size: 18px; font-size: 1.125rem; }
.mh-home-wide .mh-posts-focus-excerpt-small { display: none; }
.mh-widget-col-1 .mh-posts-focus-wrap, .mh-widget-col-2 .mh-posts-focus-wrap { float: none; width: 100%; margin: 0; }
.mh-widget-col-1 .mh-posts-focus-item, .mh-widget-col-2 .mh-posts-focus-item { padding-bottom: 20px; margin-top: 20px; border-bottom: 1px dotted #ebebeb; }
.mh-widget-col-1 .mh-posts-focus-item-large, .mh-widget-col-2 .mh-posts-focus-item-large { margin: 0; }
.mh-widget-col-2 .mh-posts-focus-thumb-small { float: left; max-width: 235px; margin: 0 20px 0 0; }
.mh-widget-col-2 .mh-posts-focus-title-large { font-size: 24px; font-size: 1.5rem; }
#mh-mobile .mh-footer-widget .mh-posts-focus-item { border-color: rgba(255, 255, 255, 0.3); }

/***** MH Tabbed Widget *****/

.mh-tabbed-widget, .mh-tabbed-widget a { color: #000; }
.mh-tabbed-widget a:hover { color: #0087A9; }
.mh-tabbed-widget .tagcloud a { color: #fff; }
.mh-tab-buttons { border-bottom: 3px solid #0087A9; }
.mh-tab-button { display: block; float: left; width: 33.33%; line-height: 2; padding: 5px 0; background: #f5f5f5; cursor: pointer; text-align: center; -webkit-transition: 0.25s ease-out; -moz-transition: 0.25s ease-out; transition: 0.25s ease-out; }
.mh-tab-button.active, .mh-tab-button.active:hover { color: #fff; background: #0087A9; }
.mh-tab-button span { padding: 0 15px; font-size: 24px; }
.mh-tab-content { display: none; padding: 25px; background: #f5f5f5; }
.mh-tab-posts { display: block; }
.mh-tab-post-item { padding-bottom: 5px; margin-top: 5px; border-bottom: 1px dotted #e5e5e5; }
.mh-tab-post-item:first-child, .mh-tab-comment-item:first-child { margin-top: 0; }
.mh-tab-comment-item { margin-top: 25px; }
.mh-tab-comment-avatar { float: left; display: block; margin: 0 10px 0 0; }
.mh-tab-comment-author { font-weight: 700; text-transform: uppercase; }
.mh-tab-comment-excerpt { display: block; padding: 25px; margin-top: 10px; background: #fff; border-radius: 25px; font-style: italic; }
.mh-footer-widget .mh-tabbed-widget, .mh-footer-widget .mh-tabbed-widget a { color: #fff; }
.mh-footer-widget .mh-tab-button, .mh-footer-widget .mh-tab-content	{ background: rgba(255, 255, 255, 0.1); }
.mh-footer-widget .mh-tab-post-item { border-color: rgba(255, 255, 255, 0.3); }
.mh-footer-widget .mh-tab-button.active { background: #0087A9; }
.mh-footer-widget .mh-tab-comment-excerpt { background: #067694; }

/***** WordPress Core Widgets *****/

.widget_archive li, .widget_categories li, .widget_pages li a, .widget_meta li, .widget_nav_menu .menu > li, .widget_rss li { border-bottom: 1px dotted #ebebeb; }
.widget_archive li a, .widget_categories li a, .widget_pages li a, .widget_meta li a, .widget_nav_menu li a, .widget_rss li { display: block; padding: 5px 0; }
.widget_archive li:first-child a, .widget_categories li:first-child a, .widget_pages li:first-child a, .widget_meta li:first-child a, .widget_nav_menu li:first-child a, .widget_rss li:first-child { padding-top: 0; }
.widget_pages .children li a { padding: 5px 0; }
.widget_nav_menu .sub-menu li { border-top: 1px dotted #ebebeb; }
.widget_nav_menu .sub-menu li:first-child a { padding-top: 5px; }
.widget_rss a { font-weight: 700; }
.widget_rss .rss-date { margin-right: 5px; }
.widget_rss .rss-date, .widget_rss cite { font-size: 13px; font-size: 0.8125rem; color: #979797; }
.widget_rss .rssSummary { margin-top: 5px; }
.mh-footer-widget.widget_rss a { font-weight: 400; }
.mh-footer-widget.widget_archive li, .mh-footer-widget.widget_categories li, .mh-footer-widget.widget_pages li a, .mh-footer-widget.widget_meta li, .mh-footer-widget.widget_nav_menu .menu > li, .mh-footer-widget.widget_nav_menu .sub-menu li, .mh-footer-widget.widget_rss li { border-color: rgba(255, 255, 255, 0.3); }

.widget_archive li-feedback, .widget_categories li-feedback, .widget_pages li-feedback a, .widget_meta li-feedback, .widget_nav_menu .menu > li-feedback, .widget_rss li-feedback { border-bottom: 1px dotted #ebebeb; }
.widget_archive li-feedback a, .widget_categories li-feedback a, .widget_pages li-feedback a, .widget_meta li-feedback a, .widget_nav_menu li-feedback a, .widget_rss li-feedback { display: block; padding: 5px 0; }
.widget_archive li-feedback:first-child a, .widget_categories li-feedback:first-child a, .widget_pages li-feedback:first-child a, .widget_meta li-feedback:first-child a, .widget_nav_menu li-feedback:first-child a, .widget_rss li-feedback:first-child { padding-top: 0; }
.widget_pages .children li-feedback a { padding: 5px 0; }
.widget_nav_menu .sub-menu li-feedback { border-top: 1px dotted #ebebeb; }
.widget_nav_menu .sub-menu li-feedback:first-child a { padding-top: 5px; }
.widget_rss a { font-weight: 700; }
.widget_rss .rss-date { margin-right: 5px; }
.widget_rss .rss-date, .widget_rss cite { font-size: 13px; font-size: 0.8125rem; color: #979797; }
.widget_rss .rssSummary { margin-top: 5px; }
.mh-footer-widget.widget_rss a { font-weight: 400; }
.mh-footer-widget.widget_archive li-feedback, .mh-footer-widget.widget_categories li-feedback, .mh-footer-widget.widget_pages li-feedback a, .mh-footer-widget.widget_meta li-feedback, .mh-footer-widget.widget_nav_menu .menu > li-feedback, .mh-footer-widget.widget_nav_menu .sub-menu li-feedback, .mh-footer-widget.widget_rss li-feedback { border-color: rgba(255, 255, 255, 0.3); }

/***** WP Text Widget *****/

.textwidget p { margin-top: 20px; }
.textwidget p:first-child { margin-top: 0; }
.textwidget ul { list-style: square; }
.textwidget ol { list-style: decimal; }
.textwidget ul, .textwidget ol { margin: 0 0 20px 15px; }
.textwidget ul ul, .textwidget ol ol { margin: 0 0 0 15px; }

/***** WP Calendar Widget *****/

#wp-calendar caption { text-align: left; padding: 10px; margin-bottom: 1px; background: #f5f5f5; }
#wp-calendar th, #wp-calendar td { padding: 5px 10px; text-align: center; }
#wp-calendar th { font-weight: 300; }
#wp-calendar a { font-weight: 700; }
#wp-calendar #prev { text-align: left; }
.mh-footer-widget #wp-calendar caption { background: rgba(255, 255, 255, 0.1); }

/***** WP Tag Cloud Widget *****/

.tagcloud a { display: inline-block; font-weight: 700; color: #fff; padding: 5px 10px; margin: 0 4px 8px 0; white-space: nowrap; text-transform: uppercase; }
.mh-widget .tagcloud a { background: #067694; }
.mh-footer-widget .tagcloud a { background: #000; }
.tagcloud a:hover, .mh-widget .tagcloud a:hover, .mh-footer-widget .tagcloud a:hover { color: #fff; background: #0087A9; }

/***** WP Recent Posts Widget / WP Recent Comments Widget *****/

.widget_recent_entries li, .recentcomments { display: block; padding: 5px 0; border-bottom: 1px dotted #e5e5e5; }
.widget_recent_entries li:first-child, .recentcomments:first-child { padding-top: 0; }
.widget_recent_entries .post-date { display: block; font-size: 11px; font-size: 0.6875rem; color: #979797; margin-bottom: 5px; }
.mh-footer-widget.widget_recent_entries li, .mh-footer-widget .recentcomments { border-color: rgba(255, 255, 255, 0.3); }

/***** Media Queries *****/

@media screen and (max-width: 1475px) {
	.mh-container { width: 95%; }
	.mh-container-inner { width: 100%; }
}
@media screen and (max-width: 1120px) {
	.mh-main-nav li { font-size: 12px; }
	.mh-main-nav li a { padding: 10px 15px; }
	.mh-main-nav li-feedback { font-size: 12px; }
	.mh-main-nav li-feedback a { padding: 10px 15px; }
}

@media screen and (max-width: 900px) {
	.mh-container-outer { margin: 0 auto; }
	#mh-mobile .mh-container { width: 100%; }
	.mh-wrapper, .mh-site-logo { padding: 20px; }
	.mh-footer { padding: 20px 20px 0 }
	.mh-copyright { text-align: center; }
	.mh-comment-list .children { margin-left: 15px; }
	.mh-widget, .mh-footer-widget { margin-bottom: 20px; }
	#mh-mobile .mh-footer-4-cols { width: 31.66%; }
	.mh-footer-4 { display: none; }
	.mh-slider-normal { width: 100%; }
	.mh-slider-widget .flex-control-nav { width: auto; top: 15px; right: 10px; bottom: auto; }
	#mh-mobile .mh-slider-caption { position: relative; width: 100%; top: auto; bottom: 0; background: rgba(42, 42, 42, 1); }
	.mh-widget-col-1 .mh-custom-posts-small-title { font-size: 13px; font-size: 0.8125rem; }
	.mh-meta-comments { display: none; }
	.mh-posts-stacked-item { bottom: 20px; left: 20px; padding-right: 20px; }
	#mh-mobile .mh-posts-stacked-title-small, .mh-widget-col-1 .mh-posts-stacked-title-large { font-size: 13px; padding: 2px 5px; }
}
@media screen and (max-width: 767px) {
	.js .slicknav_menu { display: block; }
	.js .mh-main-nav { display: none; }
	.mh-custom-header, .mh-content, .mh-sidebar, .mh-right-sb #main-content, .mh-left-sb #main-content, #mh-mobile .mh-footer-area { float: none; width: 100%; margin: 0; }
	.mh-site-logo { text-align: center; }
	.mh-header-title, .entry-title { font-size: 24px; font-size: 1.5rem; }
	.mh-sidebar { margin-top: 20px; }
	.mh-home-sidebar { margin-top: 0; }
	.entry-meta { padding: 5px 0; }
	#commentform .form-submit { margin: 25px 0 0; }
	.mh-footer-4 { display: block; }
	.mh-slider-item img { width: 100%; }
	#mh-mobile .mh-custom-posts-small-title { font-size: 14px; font-size: 0.875rem; }
	#mh-mobile .mh-posts-stacked-large, #mh-mobile .mh-posts-stacked-columns { float: none; width: 100%; }
	#mh-mobile .mh-posts-stacked-small { float: left; width: 50%; }
	#mh-mobile .mh-posts-stacked-overlay-small { border-top: 1px solid #fff; border-left: none; }
	.mh-posts-stacked-small:nth-child(odd) .mh-posts-stacked-overlay-small { border-right: 1px solid #fff; }
	#mh-mobile .mh-posts-stacked-title-large { font-size: 24px; padding: 5px 10px; }
	#mh-mobile .mh-posts-stacked-title-small { font-size: 16px; }
	#mh-mobile .mh-posts-focus-wrap { float: none; width: 100%; margin: 0; }
	#mh-mobile .mh-posts-focus-title-small { font-size: 20px; font-size: 1.25rem; }
	#mh-mobile .mh-posts-focus-item { padding-bottom: 20px; margin-top: 20px; border-bottom: 1px dotted #ebebeb; }
	#mh-mobile .mh-posts-focus-item-large { margin: 0; }
	.mh-posts-focus-thumb-small { float: left; max-width: 235px; margin: 0 20px 0 0; }
	#mh-mobile .mh-posts-focus-excerpt-small { display: block; }
	#mh-mobile .mh-posts-focus-title-large { font-size: 24px; font-size: 1.5rem; }
}
@media screen and (max-width: 620px) {
	input[type=text], input[type=email], input[type=tel], input[type=url] { width: 88%; }
	[class*='mh-col-'] { float: none; width: 100%; margin: 0; }
	.entry-meta-categories, .entry-meta-comments { display: none; }
	.mh-author-box { text-align: center; }
	.mh-author-box-avatar { float: none; display: inline-block; margin: 0 0 20px; }
	.entry-content ul, .entry-content ol { margin: 0 0 20px 20px; }
	.entry-content ul ul, .entry-content ol ol { margin: 0 0 0 20px; }
	.single-post .mh-post-nav-next { margin-top: 25px; }
	#mh-mobile .mh-slider-title, .mh-posts-large-title, #mh-mobile .mh-posts-focus-title-large { font-size: 20px; font-size: 1.25rem; }
	.mh-slider-widget .flex-control-nav { display: none; }
	.mh-loop-thumb, #mh-mobile .mh-posts-focus-thumb-small { max-width: 80px; }
	.mh-loop-title, #mh-mobile .mh-posts-focus-title-small { font-size: 14px; font-size: 0.875rem; }
	.mh-loop-meta, .mh-custom-posts-content .mh-meta, .mh-posts-focus-meta-small { display: block; font-size: 11px; font-size: 0.6875rem; }
	.mh-loop-excerpt, .mh-custom-posts-content .mh-excerpt, .mh-posts-list-excerpt, #mh-mobile .mh-posts-focus-excerpt-small, .mh-posts-focus-caption-small  { display: none; }
	.mh-posts-stacked-item { bottom: 10px; left: 10px; padding-right: 10px; }
	#mh-mobile .mh-posts-stacked-title-small { font-size: 14px; }
	#mh-mobile .mh-posts-focus-thumb-small { margin: 0 15px 0 0; }
}
@media only screen and (max-width: 420px) {
	.mh-comment-list .children { margin: 0; }
	.mh-comment-body { text-align: center; }
	.mh-comment-gravatar { float: none; }
	.mh-comment-gravatar .avatar { width: 80px; height: 80px; margin: 0 auto 10px; }
	.mh-comment-meta-author .fn { margin: 0; }
}
@media only screen and (max-width: 360px) {
	#mh-mobile .mh-posts-stacked-wrap { float: none; width: 100%; }
	#mh-mobile .mh-posts-stacked-overlay { border-right: none; }
	#mh-mobile .mh-posts-stacked-title { font-size: 16px; padding: 2px 5px; }
}